{% extends "base.html" %}

{% load static%}

{% block title%}
Brain Tumor Detection
{% endblock%}
{% block content %}
<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
  <!-- Section: Design Block -->
  <section class="text-center">
    <div class="flex justify-center">
      <div class="max-w-[800px]">
        <h2 class="mb-12 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl">
          Discover Hope with <br />
          <span class="text-primary dark:text-primary-400">CogniCare</span>
        </h2>
        <p class="text-lg text-neutral-500 dark:text-neutral-300">
         "Shaping the Future of Neurocare, One Scan at a Time."
        </p>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->

{% endblock %}